/* Definição de cores e estilos base para todo o site */
:root {
  --branco-principal: aliceblue;
  --azul-principal: #005f73; /* Um tom de azul suave para títulos e cabeçalho */
  --azul-secundario: #00b4d8; /* Azul secundário para elementos interativos como hover */
  --texto-principal: #333; /* Cor escura para o texto principal para leitura fácil */
}

/* Reset básico para remover margens, paddings e definir box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globais para o corpo do documento */
body {
  font-family: Arial, sans-serif; /* Fonte legível para o texto do corpo */
  font-size: 16px; /* Tamanho padrão da fonte */
  line-height: 1.7; /* Espaçamento da linha para melhorar a leitura */
  color: var(--texto-principal); /* Cor do texto padrão */
  background-color: var(--branco-principal); /* Cor de fundo suave para o site */
}

/* Estilos para o cabeçalho da página */
header {
  background-color: var(--branco-principal); /* Cor de fundo do cabeçalho */
  color: var(--azul-principal); /* Cor do texto no cabeçalho */
  padding: 1rem 0; /* Espaçamento vertical no cabeçalho */
}

/* Removendo estilos padrão da lista e adicionando alinhamento */
ul {
  list-style: none; /* Remove marcadores da lista */
  padding: 0; /* Remove o padding padrão */
  text-align: right; /* Alinha a lista à direita */
  margin-right: 4rem; /* Margem à direita para afastar da borda */
}

/* Estilos para cada item da lista */
li {
  display: inline-block; /* Exibe os itens da lista lado a lado */
  margin: 20px; /* Espaço entre os itens da lista */
}

/* Estilos para links */
a {
  text-decoration: none; /* Remove o sublinhado dos links */
  color: var(--azul-principal); /* Define a cor padrão dos links */
  transition: color 0.3s ease-in-out; /* Suaviza a transição de cores ao passar o mouse */
}

/* Estilo para links ao passar o mouse */
a:hover {
  color: var(--azul-secundario); /* Muda a cor ao passar o mouse */
}

/* Estilos para o conteúdo principal */
main {
  padding: 20px; /* Espaçamento interno em todo o conteúdo principal */
}

/* Estilos para seções do conteúdo */
section {
  margin-bottom: 20px; /* Espaço abaixo de cada seção */
  padding: 10px; /* Espaçamento interno para cada seção */
  text-align: center; /* Centraliza o texto dentro das seções */
}

/* Estilos para o título principal */
h1 {
  font-size: 2.5rem; /* Tamanho maior para o título principal */
  margin-top: 0; /* Remove a margem superior */
  margin-bottom: 0.5rem; /* Espaço abaixo do título */
  color: var(--azul-principal); /* Cor do título */
}

/* Estilos para parágrafos */
p {
  margin-bottom: 1rem; /* Espaço abaixo de cada parágrafo */
}

/* Estilos para a imagem de perfil */
.foto-perfil {
  width: 200px; /* Largura fixa para a imagem de perfil */
  height: 200px; /* Altura fixa para manter a proporção */
  border-radius: 50%; /* Torna a imagem redonda */
  object-fit: cover; /* Garante que a imagem cubra todo o espaço sem distorção */
  display: block; /* Garante que a imagem seja tratada como bloco para centralização */
  margin: 20px auto 1rem auto; /* Margem automática para centralização horizontal */
}

/* Estilos para o subtítulo da seção 'Sobre mim' */
.title-text-about-me {
  font-size: 1.5rem; /* Tamanho do subtítulo */
  color: var(--azul-secundario); /* Cor do subtítulo */
  margin-bottom: 1rem; /* Espaço abaixo do subtítulo */
}

/* Estilos para o texto da seção 'Sobre mim' */
.text-about-me {
  text-align: justify; /* Justifica o texto para um fluxo uniforme */
  margin-bottom: 2rem; /* Espaço abaixo do texto */
}

/* Estilos para o rodapé */
footer {
  background-color: var(--azul-principal); /* Cor de fundo do rodapé */
  color: var(--branco-principal); /* Cor do texto no rodapé */
  padding: 20px; /* Espaçamento interno do rodapé */
  text-align: center; /* Centraliza o conteúdo do rodapé */
}

/* Estilos para links de e-mail no rodapé */
footer a[href^="mailto:"] {
  color: var(--azul-secundario); /* Define a cor do link de e-mail */
  text-decoration: none; /* Adiciona sublinhado para destacar que é um link clicável */
}

/* Media queries para garantir responsividade */
@media (max-width: 768px) {
  header nav ul {
    text-align: center; /* Centraliza a navegação no mobile */
  }

  header nav li {
    display: block; /* Itens da lista empilhados verticalmente no mobile */
    margin: 10px 0; /* Espaçamento vertical entre itens no mobile */
  }

  .foto-perfil {
    width: 150px; /* Reduz a imagem de perfil para telas menores */
  }
}
